{{define "preheader"}}Your Palladium account and its data have been permanently deleted.{{end}}

{{define "content"}}
{{template "heading" "Your account has been deleted"}}

<tr>
  <td style="font-family:'DM Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:15px; line-height:1.6; color:#3f3f46; padding-bottom:24px;">
    Your Palladium account and its data have been permanently deleted. Thanks
    for giving us a try.
  </td>
</tr>

{{template "footnote" (printf "This confirmation was sent to %s. If you did not request this deletion, reply to this email right away." .Email)}}
{{end}}
